body{
  font-family: poppins,Actor,Adamina;  
  
}
nav{
    width: 100%;
    height:500px;
    background-image:url("../image/moving\ 1.png");
    background-size: cover;
    
}
nav>ul{
    display: flex;
    justify-content:right;
}
nav>ul>li{
    display: inline-block;
    margin-right: 30px;
    color: rgb(72, 78, 78);
}
.navinfo{
    width: 50%;
    margin-top: 40px;
}
section{
    width:100%;
    background-color: rgb(233,231,231);

}
.sectiontwo{
    margin-top: 20px;
    display: flex;
}
#image1{
    
padding: 10px;
}

section>div>ul{
    display: flex;
    list-style:none ;
    margin-top: 60px;
    
    
}
#row1{

    margin-left: 30px;
    justify-content: space-around;
    padding:20px;
    
    
}
#row2{
    margin-left: 30px;
    justify-content: space-around;
    padding:20px;
    margin-bottom: 20px;
    
}
.sectionthree{
    background-color: black;
    height: 300px;
   

}
.sectionthree h2{
    color: white;
}
.sectionthree ul{
    color: white;
    list-style: none;
}
.sectionthree p{
    color:white

}
footer{
    display: flex;
}
#three{
    display: flex;
    padding-top: 0px;
    margin-left: 200px;

}



/* CSS code for page TWO */


#headerone{
    background-color: black;
    color: azure;
    padding-left: 20px;
}

#headertwo{
    display: flex;
    justify-content: space-between;
}
#headerone>ul{
    list-style: none;
    display: flex;
    justify-content:right;
    padding-top: 20px;
    
}
#headerone>ul>li{
    padding-right: 30px;
}
button{
    border-style: none;
}

.slideshow{
    padding-left: 20px;
}


#slidepic li{
    padding-right:20px;
    display: inline-block

}
#slidepic ul{
    width: 65%;
}
form{
    float: right;
    
}
table,tr,td{
    padding: 15px;
    border: 1px solid grey;
    border-collapse: collapse;
    

}
table{
    width: 100%;
    margin-top:40px;
    margin-left: 0px;
    border-radius: 30px;
    background-color:rgb(204, 196, 196);
    height: 150px;



}
.table{
    background-color: rgb(232,231,231);
    border-radius: 20px;
    width: 65%;
    padding-left: 20px;
    
}
#description{
    border-radius: 20px;
    width: 65%;
    padding-left: 20px;
    
}
#featureone{
   display: flex;
   justify-content: space-between;
}
#features{
  border-radius: 30px;  
  width: 65%;
  padding-left: 20px;
}
#featureone>div>ul{
    list-style: none;

}
#feature>div>ul>li:before{
    content: '\2713';

}
.footertwo{
    background-color: black;
    height: 300px;
    padding-left: 20px;
   

}
.footertwo h2{
    color: white;
}
.footertwo ul{
    color: white;
    list-style: none;
}
.footertwo p{
    color:white

}
footer{
    display: flex;
}
#list{
    display: flex;
    padding-top: 0px;
    margin-left: 800px;
    
}




    