body{
  font-family: poppins,Actor,Adamina;  
  
 
  
}
nav{
    width: 100%;
    height:500px;
    background-image:url("../image/moving\ 1.png");
    background-size: cover;
    
}
nav>ul{
    display: flex;
    justify-content:right;
}
nav>ul>li{
    display: inline-block;
    margin-right: 30px;
    color: rgb(72, 78, 78);
}
.navinfo{
    width: 50%;
    margin-top: 40px;
}
section{
    width:100%;
    background-color: rgb(233,231,231);

}
.sectiontwo{
    margin-top: 20px;
    display: flex;
    padding-left: 150px;
}
#image1{
    
padding: 10px;
}
#sectioninfo{
    padding-left: 100px;
}

section>div>ul{
    display: flex;
    list-style:none ;
    margin-top: 60px;
    
    
}
#row1{

    margin-left: 30px;
    justify-content: space-around;
    padding:20px;
    
    
}
#row2{
    margin-left: 30px;
    justify-content: space-around;
    padding:20px;
    margin-bottom: 20px;
    
}
.sectionthree{
    background-color: black;
    height: 300px;
    
   

}
.sectionthree h2{
    color: white;
}
.sectionthree ul{
    color: white;
    list-style: none;
}
.sectionthree p{
    color:white

}
footer{
    display: flex;
}
#three{
    display: flex;
    padding-top: 0px;
    margin-left: 800px;

}
button{
    border: 0px;
}



/* CSS code for page TWO */


#headerone{
    background-color: black;
    color: azure;
    padding-left: 20px;
}

#headertwo{
    display: flex;
    justify-content: space-between;
}
#headerone>ul{
    list-style: none;
    display: flex;
    justify-content:right;
    padding-top: 20px;
    
}
#headerone>ul>li{
    padding-right: 30px;
}
button{
    border-style: none;
}

.slideshow{
    padding-left: 20px;
}
#homeimage{
    padding-left: 70px;
}
#slidepic{

}

#slidepic li{
    
    display: inline-block

}
#slidepic>ul{
    width: 65%;
   
}

form{
    float: right;
    background-color: azure;
    margin-top: 10px;
    border-radius: 20px;
    padding-left: 5px;
    margin-right: 100px;
    
}
#name,#email,#number{
    border-radius: 20px;
    margin: 3px;
    padding: 10px;

}
#text{
    padding:30px;
    border-radius: 10px;
}
#submit{
    margin-top: 20px;
    background-color: black;
    color:#FFAC12;
    padding: 30px;
    width: 300px;
    border-top-right-radius: 30px;
}
table,tr,td{
    padding: 15px;
    border: 2px solid white;
    border-collapse: collapse;
    

}
table{
    width: 100%;
    margin-top:40px;
    margin-left: 0px;
    border-radius: 30px;
    background-color:rgb(204, 196, 196);
    height: 150px;

}
.table{
    background-color: white;
    border-radius: 20px;
    width: 65%;
    padding-left: 70px;
    
}
#description{
    border-radius: 20px;
    width: 65%;
    padding-left:70px;
    padding-bottom: 30px;
    
}
#featureone{
   display: flex;
   justify-content: space-between;
   padding-right: 60px;
   padding-bottom: 30px;


}
#features{
  border-radius: 30px;  
  width: 65%;
  padding-left: 70px;
}
#featureone>div>ul{
    list-style: none;

}
#feature>div>ul>li:before{
    content: '\2713';

}
.ticks{
    border-radius: 50%;
    border: 1px solid #FFAC12;
    background-color: #FFAC12;
}
.footertwo{
    background-color: black;
    height: 300px;
    padding-left: 20px;
   

}
.footertwo h2{
    color: white;
}
.footertwo ul{
    color: white;
    list-style: none;
}
.footertwo p{
    color:white

}
footer{
    display: flex;
}
#list{
    display: flex;
    padding-top: 0px;
    margin-left: 800px;
    
}
img{
margin-right:20px;
justify-content: space-between;
}

button>table{
    height:50px;
    padding-top:none;
    border-collapse: collapse;
    border:1px solid lightgrey
    
}
tr,td{
    border: 1px solid rgb(233,231,231);
    border-collapse: collapse;
}
#listings{
    padding-left: 70px;
}
svg{
    width: 10px;
    height: 10px;
}


#social>p>svg{
    color: white;
}
   



    